.CarrouselDevice{
    width: 60% ;
    margin: auto;
    position: relative;
    overflow: hidden;
  }

.AllDex{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

  .CarrouselKanto{
    width: 35% ;
    margin: auto;
    overflow: hidden;
    position: absolute;
    height: 100%;
  }

  .Carrousel-container{
    width:200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    transition: all .5s ease;
    height: 100%;
  }


.Botones{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
}

.Anterior{
  left: 0;
  position: absolute;
  height: 100%;
  background-color: transparent;
  width: 30%;
}

.Siguiente{
  right: 0;
  position: absolute;
  height: 100%;
  background-color: transparent;
  width: 30%;

}

.Region{
  font-size: 5em;
  font-weight: bolder;
  height: 50px;
  margin: 35px 0;
}

.TipoDeb img{
  width: 10%;
}

.TypeDeb{
  display: flex;
  justify-content: center;
  align-items: center;
}

.CarrouselTypeDeb{
  width: 100% ;
  margin: auto;
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 2%;
}

.Carrousel-TypeDeb{
  width:200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  transition: all .5s ease;
}

.Debilidad{
}

.Carrousel-num{
  margin: 0;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 600;
  color: azure;
  display: flex;
  /* flex-flow: row nowrap; */
  /* align-items: stretch; */
  position: absolute;
  width: 100%;
  justify-content: space-around;
  left: 6em;
  /* top: 0; */
  place-content: center space-around;
}


.Carrousel-h3{
  margin: 0;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 600;
  color: azure;
  display: flex;
  /* flex-flow: row nowrap; */
  /* align-items: stretch; */
  position: absolute;
  width: 100%;
  justify-content: space-around;
  /* right: 14.3em; */
  /* top: 0; */
  place-content: center space-around;
}


@media screen and (min-width:800px) {
  .Carrousel-num{
    top: 1em;
    font-size: 1em;
  }

  .Carrousel-h3{
    top: 1em;
    font-size: 1em;
  }
}


@media screen and (min-width:1100px) {
  .Carrousel-num{
    top: 1em;
    font-size: 1.2em;
  }

  .Carrousel-h3{
    top: 1em;
    font-size: 1.2em;
  }
}

@media screen and (min-width:1350px) {
  .Carrousel-num{
    top: 1em;
    font-size: 1.4em;
  }

  .Carrousel-h3{
    top: 1em;
    font-size: 1.4em;
  }
}


@media screen and (min-width:1500px) {
  .Carrousel-num{
    top: 1em;
    font-size: 1.6em;
  }

  .Carrousel-h3{
    top: 1em;
    font-size: 1.6em;
  }
}


/* @media screen and (max-width:800px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 1em;
  }

  .Carrousel-h3{
    left: 3em;
    top: 0.5em;
    font-size: 1em;

  }
} */

@media screen and (min-width:100px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 0.44em;
  }

  .Carrousel-h3{
    left: 4em;
    top: 0.5em;
    font-size: 0.44em;

  }
}


/* @media screen and (max-width:500px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 0.48em;
  }

  .Carrousel-h3{
    left: 5em;
    top: 0.5em;
    font-size: 0.48em;

  }
}


@media screen and (max-width:520px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 0.55em;
  }

  .Carrousel-h3{
    left: 5em;
    top: 0.5em;
    font-size: 0.55em;

  }
}


@media screen and (max-width:600px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 0.65em;
  }

  .Carrousel-h3{
    left: 5em;
    top: 0.5em;
    font-size: 0.65em;

  }
}

@media screen and (max-width:670px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 0.74em;
  }

  .Carrousel-h3{
    left: 4em;
    top: 0.5em;
    font-size: 0.74em;
  }
}

@media screen and (max-width:780px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 0.8em;
  }

  .Carrousel-h3{
    left: 4em;
    top: 0.5em;
    font-size: 0.8em;
  }
} */


/* @media screen and (max-width:880px){
  .Carrousel-num{
    left: 5em;
    top: .5em;
    font-size: 0.9em;
  }

  .Carrousel-h3{
    left: 3em;
    top: 0.5em;
    font-size: 0.9em;
  }
} */







.Carrousel-imgHoenn{
  width: calc( 100% / 241.39 );
}

.Esqueleto-Hoenn{
  width: calc( 100% / 241.39 );
}

.Carrousel-imgSinnoh{
  width: calc( 100% / 191.32 );
}

.Esqueleto-Sinnoh{
  width: calc( 100% / 191.32 );
}

/* ================================================ */


.CarrouselTypeJohto{
  width: 100%;
  margin: auto;
  position: absolute;
  left: 2%;
  overflow: hidden;
}

.Carrousel-h3 h3{
  width: 170px;
}