.GymLeaders{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.Medallas{
    width: 30%;
}

.Personajes{
    width: 30%;
    margin: 5% 5% 5% 5%;
}

.MedallaDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 55vh;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.LiderTipo2{
    width: 15%;
}

.Team{
    max-width: 100%; 
    margin: 5px; 
    box-shadow: 0pc 0px 30px gray;

}

.EquipoContainer{
    width: 100%;
}

.GymElite4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.tituloLider{
    position: absolute;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;  
    color: rgba(255, 255, 255, 0.87);

}

.TeamLeader{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    position: absolute;
    top: 30%;
}

.Pokeball{
    width: 100%;
}

.MedallasTitulo{
    position: absolute;
    top: 5%;
}

.EquipoTitulo{
    position: absolute;
    bottom: 110%;
}


.NameLeaders{
    position: absolute;
}

.BotonCierre{
    position: absolute;
    top: 1%;
    right: 2%;
}

.BotonCierre:hover{
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
}

.Alola{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    margin-left: 16px;
}

.AlolaChallenge{
    position: absolute;
    margin-top: 65px;
}


@media screen and (max-width:730px) {

    .GymLeaders{
        grid-template-columns: 1fr 2fr;
    }


    .contenedor{
        height: 20vh;
    }

    .MedallaDiv{
        height: 18vh;   
    }

    .TeamLeader{
        top: 46%;
    }

    .bi{
        width: 15px;
    }

    .NameLeaders{
        margin-left: 25px;
        font-size: 10px;

    }

    .AlolaChallenge {
        margin-top: 160px;
    }
}